<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Welcome.I am a PhD student in Quantitative Finance with the African Institute of Financial Markets and Risk Management, <a href="http://www.aifmrm.uct.ac.za/" target="_blank">AIFMRM</a>, at the University of Cape Town under the supervision of Dr <a href="https://cogeorg.github.io/" target="_blank">Co-Pierre Georg</a>. I completed a MCom in Risk Management of Financial Markets in 2016 at the Unuversity of Cape Town. My primary research interest focuses on market microstructure, particularly the impact of FinTech in the banking industry. <a href="https://www.dropbox.com/s/a6sqrkalx74sfof/CV.pdf?dl=0" target="_blank">Download CV</a></p>
</div><!--//summary-->
</section><!--//section-->
