<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="content-rounded-panel" style="overflow: hidden;">
			                <div>
				                      {% for project in site.github %}
					                            {% assign loopindex = forloop.index | modulo: 2 %}
					                            {% if loopindex == 1 %}
					                            <div class="row">
					                            {% endif %}
						                                  <div class="col-lg-6">
							                                        <div class="github-widget" data-repo="{{project}}"></div>
						                                  </div>
					                            {% if loopindex == 0 %}
					                            </div>
					                            {% endif %}
				                    {% endfor %}
				                    {% if loopindex == 1 %}
					                            </div>
			                     	{% endif %}
			            </div>
            </section><!--//section-->
