<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                  <div class="item">
                    <span class="project-title"><a href="http://systemicrisk.org.za/">SA Systemic Risk</a></span> - <span class="project-tagline">A ranking of South African financial institutions according to their contribution to systemic risk</span>
    
                </div><!--//item-->
  
            </section><!--//section-->
